.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .80rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .80rem;
  max-width: 1120px;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 18px;
}

.content #text {
  font-size: 18px;
}

.content #text p {
  text-indent: 2rem;
  margin-bottom: 8px;
  line-height: 22px;
}

.content #text #text-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.content #text #text-header img {
  width: 100px;
  height: 80px;
}

.content #text #text-header #logo-direita {
  margin-left: .75rem;
}

.content ul {
  margin: 1rem 0;
}

.content ul #list-item {
  display: flex;
  align-items: initial;
  margin-bottom: 5px;
}

.content ul #list-item li{
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  margin-left: .50rem;
}

.content ul #list-item i {
  color: rgb(58, 91, 50);
}

.content #footer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content #footer button {
  margin: 0;
}

.content #footer button span i {
  font-size: 20px;
}

.content #footer button:hover {
  filter: brightness(90%);
}

@media (max-width: 620px) {
  .content #text #text-header h1 {
    font-size: 1.20em;
  }

  .content #text #text-header {
    justify-content: space-between;
  }
}