.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  max-width: 1120px;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 18px;
}

.content section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content section button span i {
  margin-right: 5px;
}

.content section button:hover {
  filter: brightness(90%);
}

.content #logo {
  width: 50%;
  height: 100%;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content #logo img {
  width: 50%;
  height: 35%;
}


@media ( max-width: 580px) {

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content #logo {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    order: 0;
  }

  .content #logo img {
    width: 70%;
    height: 45%;
  }

  .content #logo img + img {
    margin-left: 5px;
  }

  .content section {
    width: 100%;
    order: 1;
  }
}