.content .card {
  width: 100%;
  padding: .50rem 1rem .50rem 1rem;
}

.content .card .card-header {
  display: flex;
  padding-left: .40rem;
  border-radius: 18px 18px 0 0;
  background:rgb(0, 97, 172);
}

.content .card .card-content {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.content .card h1{
  line-height: 48px;
  color: #FFF;
}