.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  margin-top: 110px;
  margin-bottom: .75rem;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 18px;
}

.content button {
  /* Sobrescreve a margem do botão da classe button */
  margin-top: 0;
  width: 50%;
}

.content button:hover {
  filter: brightness(90%);
}

.content button + button {
  margin-top: 10px;
}
